.layout-container {
    display: flex;
    justify-content: flex-start; /* Align items to the start, i.e., left */
    align-items: flex-start;
    width: 100%;
    height: 100vh; /* Ensure it spans full height of the viewport */
}

.sidebar {
    width: 5vh; /* Adjust the width of the sidebar */
    height: 100vh; /* Full height of the page */
    position: fixed; /* Fix it to the left side */
    left: 0;
    top: 0;
    background-color: #001529; /* Or any color you want */
}

.content {
    margin-left: 10vw; /* Adjust the margin to account for the sidebar's width */
   /* Add some spacing */
    width: 80vw; /* Adjust the width of the content area */
    height: 100vh; /* Full height of the page */
    position: relative; /* Remove fixed position */
    margin-bottom: 100vh;

}


@media (max-width: 768px) {
    .layout-container {
      flex-direction: column; /* Stack content vertically on smaller screens */
    }
  
    .sidebar {
      min-width: 200px; /* Sidebar takes full width */
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 1000; /* Ensure it's above other content */
      height: auto; /* Adjust height for mobile */
    }


    .demo-logo-vertical {
      display: none; /* Hide the logo on smaller screens if needed */
    }
  
    .ant-menu {
      display: flex;
      justify-content: center; /* Center menu items */
      flex-grow: 1;
      flex-direction: column;
    }
  }
  
   /* .content {
       /* margin-left: 25%;  Adjust the margin to account for the sidebar's width */
      /*  width: 75%;  Adjust the width of the content area */
     /*
}
