.charts-wrapper {
    display: flex;
  justify-content: space-between; /* Space between cards */
  align-items: flex-start;
  /* margin-top: 3rem; */
  width: 100%;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  gap: 5px; /* Space between the cards */
  box-sizing: border-box;
  border: 4px solid purple;
    /* border: 1px solid black; */
}
.chart-container {
    flex: 1; /* Make each chart take up equal space */
    margin-right: 1rem; /* Add some space between charts */
}

.chart-container:last-child {
    margin-right: 0; /* Remove margin for the last chart */
}

@media (max-width: 768px) {
.charts-wrapper{
    
}

}


